.add-picture {
    position: fixed;
    top: 200px;
    left: 40%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
  }