.title{
    margin: 40px auto;
    width: 100%;
}

.title h2{
    margin-left: 100px;
}

.body{
    column-count: 3;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;    
    
    margin: 40px auto;
    height: auto;
}

.body::before,
.body::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  order: 2;
}

.pictures{
    display: inline-block; 
    width: 30%; 
    break-inside: avoid;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
    padding: 20px;
    object-fit: contain;
    height: 100%;
}

.pictures p{
    position: absolute;

}

.pictures h3{
    position: absolute;
    
}

.pictures button{
    position: absolute;
    cursor: pointer;
    visibility: hidden;
}

.pictures button:hover{
    position: absolute;
    cursor: pointer;
    visibility: visible;
}

.pictures img{
    width: 100%;
    height: auto;
    border-radius: 0.75rem;
    display: block;
}

.picture:nth-child(3n+1) { order: 1; }
.picture:nth-child(3n+2) { order: 2; }
.picture:nth-child(3n) { order: 3; }